h1 {
    text-align: center;
    
}

p {
    display: flex;
    text-align: left;
    flex-direction: column;
}
#train {
    position: relative;
    cursor: pointer;
}
div {
    display: flex;
    border: solid 3px rgb(212, 212, 212);
    box-shadow: 5px 5px 5px  ;
    text-align: center;
    font-size: 1.3rem;
    padding: 2rem 2rem 2rem;
    margin: 3rem;
}

body {
    
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 0 auto;
}



